<!Doctype html>

<html>

<head>
         <title>Weather</title>
         <link rel="icon" href="/pic/cloud.png">
        <link rel="stylesheet" href="/css/styles.css">
       
</head>
        
<body>
        <div class="main-content">
                 {{>header}}
                 <p>Use this site to get your weather!</p>
                   <form >
                <input placeholder=" location">
                <button>search</button>
                <p id="massage1"></p>
                <p id="massage2"></p>
        </form>
        </div>
      
        {{>footer}}
         <script src="/javascript/java.js"></script>
</body>


</html>